@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-display: swap;
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/Satoshi-Light.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Satoshi-Regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/Satoshi-Medium.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/Satoshi-Bold.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* spline-sans-mono-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Spline Sans Mono";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/spline-sans-mono-v10-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* spline-sans-mono-italic - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Spline Sans Mono";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/spline-sans-mono-v10-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1,
h2,
h3,
span,
p {
    @apply font-body;
}

h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-size: 2.1em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
}

h4 {
    font-size: 1.15em;
    font-weight: 400;
}

h5 {
    font-size: 1.05em;
    font-weight: 300;
}

h6 {
    font-size: 1em;
    font-weight: 300;
}

.title-container {
    position: relative;
    display: inline-block;
}

.title-shadow {
    opacity: 0.1;
    position: absolute;
    top: -20px;
    line-height: 1;
    z-index: 1;
}

.title-main {
    opacity: 1;
    position: relative;
    z-index: 2;
}

.breadcrumbs {
    @apply flex items-center;
}

.breadcrumbs__item:first-child::after {
    margin-bottom: 6px;
}

.theme-code-block,
.prism-code,
.token {
    font-family: "Spline Sans Mono", monospace !important;
}

.anchor-shadow:hover {
    box-shadow:
        0 0 0px #3577ff,
        0 0 2px #3577ff,
        0 0 2px #3577ff,
        0 0 20px #3577ff,
        0 0 50px #3577ff;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@media (min-width: 768px) {
    .fade-in-right {
        animation-name: fade-in-right;
        animation-duration: 2s;
    }
}

@media (min-width: 768px) {
    .fade-in-left {
        animation-name: fade-in-left;
        animation-duration: 2s;
    }
}

@media (max-width: 767px) {
    .fade-in {
        animation-name: fade-in;
        animation-duration: 2s;
    }

    .fade-in-subtitle {
        animation-name: fade-in;
        animation-duration: 4s;
    }
}

.theme-code-block-highlighted-line {
    background-color: #dddfe1 !important;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-20%);
    }
}

.wave {
    animation: wave linear 3s infinite;
}

.cls-1 {
    fill: #8e8ef4;
}

.cls-2 {
    fill: #afaff9;
}

.cls-3 {
    opacity: 0.95;
}

.cls-3,
.cls-4 {
    fill: #cedeff;
}

a:not(
        .table-of-contents__link,
        .no-underline,
        .card,
        .pagination-nav__link,
        .menu__link,
        .footer__link-item
    ) {
    text-decoration-style: dotted;
    font-weight: bold;
    text-decoration: underline;
}

.rainbow-ring::before {
    content: "";
    position: absolute;
    top: -0%;
    left: -10%;
    width: 110%;
    height: 110%;
    background: conic-gradient(
        from 0deg,
        red,
        orange,
        yellow,
        lime,
        cyan,
        blue,
        purple,
        magenta,
        red
    );
    border-radius: 50%;
    filter: blur(20px) hue-rotate(0deg);
    animation: hueRotate 3s linear infinite;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
}

.group:hover .rainbow-ring::before {
    opacity: 0.9;
}

@keyframes hueRotate {
    from {
        filter: blur(10px) hue-rotate(0deg);
    }
    to {
        filter: blur(10px) hue-rotate(360deg);
    }
}
